# fly.toml - https://fly.io/docs/reference/configuration/

app = "elsewhenbot"
primary_region = "lhr"

[build]

[env]
  DATA_PATH = "/data/data.edn"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[mounts]
  source = "data"
  destination = "/data"
